@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  margin: 0;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
  --highlight: #cdfb52;
  --vhf: 13.31px;
  --vh: 13.31px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --highlight: #5279fb;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.highlight::before {
  position: absolute;
  top: -0.3125rem;
  left: -0.625rem;
  width: calc(100% + 1.125rem);
  height: calc(100% + 0.625rem);
  background-color: var(--highlight);
  transform: skewX(-2deg);
  content: "";
}

.heading__content {
  background-position: bottom;
  background-size: cover;
  height: calc(130vw + var(--vh)* 25);
  min-height: calc(var(--vh)* 160);
  overflow: hidden;
  position: relative;
  width: 100%;
}

.heading__media {
  bottom: -1px;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
  width: 100%;
  z-index: 3;
}

.home-vision {
  background: linear-gradient(#5c97ce, #8ba9cc);
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 15.625rem 0;
  position: relative;
  width: 100%;
}

@keyframes marquee {
  0% {
    transform: translateX(50vw);
  }

  100% {
    transform: translateX(-100vw);
  }
}
@keyframes marquee1 {
  0% {
    transform: translateX(0vw);
  }

  100% {
    transform: translateX(-100vw);
  }
}


.cloud>div {
  animation: marquee 100s linear infinite;
  will-change: transform;
}

.cloud1>div {
  animation: marquee1 100s linear infinite;
  will-change: transform;
}