@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  margin: 0;
}

/* Mode clair par défaut */
:root {
  --background: #fff;
  --foreground: #171717;
  --highlight: #cdfb52;
  --vhf: 13.31px;
  --vh: 13.31px;
}

/* Mode sombre activé via les préférences système */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #18181b;
    --foreground: #fff;
    --highlight: #cdfb52;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}